<%= form_for(@geocode_address) do |f| %>
  <% if @geocode_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geocode_address.errors.count, "error") %> prohibited this geocode_address from being saved:</h2>

      <ul>
      <% @geocode_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person %><br />
    <%= f.number_field :person %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
